<!DOCTYPE html>
<html>
<head>
  <title>FlyTick</title>
</head>
<body>
<div style="display: flex; align-items: center;">
  <img src="https://ik.imagekit.io/lflw4bvw1e/logo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1671026089524" alt="Logo" style="float: left; width: 50px; height: 50px;margin-right: 5px;">
  <h1 style="float: right;">FlyTick</h1>
</div>


  <p>
    Welcome! Your ticket details are shown below.
  </p>

  <p>Name: <strong><%= $name %></strong>
  <br>Age: <strong><%= $age %></strong>
  <br>Flight Code: <strong><%= $code %></strong>
  <br>From: <strong><%= $departure_airport %></strong>
  <br>To: <strong><%= $arrival_airport %></strong>
  <br>Seat: <strong><%= $class %><%= $seat %></strong></p>
  <p style="font-size: 20px">Departure Time: <strong><%= $departure_time %></strong></p>

  <p>
    Show QR-Code below to admin
    <br>
    <img src="" alt="QR Code" style="display: block; margin: 0 auto;">
  </p>

  <p>
    Thank you for using our services! Hope you have a nice trip! See ya!
  </p>
</body>
</html>
