<!DOCTYPE html>
<html>
<head>
  <title>Ticket</title>
</head>
<body>
<div style="display: flex; align-items: center;">
  <img src="https://ik.imagekit.io/lflw4bvw1e/logo.png?ik-sdk-version=javascript-1.4.3&updatedAt=1671026089524" alt="Logo" style="width: 200px; display: block; margin: 0 auto;">
</div>


  <p style="margin-left: 480px;">
    Welcome! Your ticket details are shown below.
  </p>

  <div style="display: flex;">
    <p style="margin-right: 300px; margin-left: 480px;">Name: <strong><%= $name %></strong>
      <br>Place of Birth: <strong><%= $place %></strong>
      <br>Date of Birth: <strong><%= $date %></strong>
      <br>Age: <strong><%= $age %></strong>
    </p>
    
    <p style="margin-left: 180px;">
  Flight Code: <strong><%= $code %></strong>
  <br>From: <strong><%= $departure_airport %></strong>
  <br>To: <strong><%= $arrival_airport %></strong>
  <br>Seat: <strong><%= $class %><%= $seat %></strong>
</p>

    </div>
    
    <p style="font-size: 20px; text-align: center;">Departure Time: <strong><%= $departure_time %></strong></p>
      
    
    
    <p style="margin-left: 480px;">
      <br>
        Show this QR-Code to the admin
      </p>
      <img src="https://ik.imagekit.io/lflw4bvw1e/qr-code_lrcApdL3B?ik-sdk-version=javascript-1.4.3&updatedAt=1668690594290" alt="QR Code" style="display: block; margin: 0 auto;">
    
      <p style="margin-left: 480px;">
        Thank you for using our services! Hope you have a nice trip! See ya!
      </p>
    </body>
    </html>
    