<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hello <%= name %>
    </h2>
    <br>
    <p>Thanks for using our service! Wishing you all the best for your trip and enjoy every minute!</p>
    <br><br>
    <p>Have a great trip!</p>
    <p>FlyTick Team</p>
</body>

</html>