<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>E-Ticket</h2><br><br>

    <p>This is your e-ticket</p><br>

    <img src="" alt=""><br><br>

    <p>Enjoy your journey, </p><br>
    <p>FlyTick Team</p>
</body>

</html>