<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hello <%= name %>
    </h2>
    <h3>Welcome to FlyTick!</h3>
    <p>Thank you for creating your flytick account.</p>
    <p>We're very happy that another incredible person joined our product, hope you enjoy our service.</p>

    <br>
    <p>Best regards, </p>
    <p>FlyTick Team</p>
</body>

</html>